body {
  display:flex;
  font-family: 'Roboto Slab';
  text-align:center;
}

.quiz {
  flex-grow:0;
  border-style:solid;
  border-width:2px;
  margin-top:25px;
  box-shadow: 10px 5px 10px black;
}

.questions {
  text-align:left;
  margin-bottom:25px;
  margin-left:50px;
  margin-right:50px;
  margin-top:25px;
}

.question {
  font-size:24px;
}

.hidden {
  display:none;
}

.answers {
  font-size:24px;
  margin-bottom:25px;
}

.buttons {
  text-align:center;
  margin-bottom:20px;
}